<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  

   <div  *ngIf="dish">
    <mat-card class = "First">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

   <div fxFlex="50">
  	<div fxFlex *ngIf="dish">
  		<mat-list fxFlex>
  			<h2 matLine>Comments</h2>
  		<mat-list-item *ngFor="let a of dish.comments">
  		<mat-list fxFlex>
  			<mat-list-item>
  				<hr>
  				<h5 matLine>{{a.comment}}</h5>
  				<p matLine>{{a.rating}} stars</p>
  				<hr>
  				<p matLine>--{{a.author}}<span>{{a.date | date }}</span></p>
  				<hr>
  			</mat-list-item>
  		</mat-list>
  		</mat-list-item>
  		</mat-list>
  	</div>
   </div> 

</div>


